:root{
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;

}

body{
    font-family: var(--default-font-family);
}



h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
 .mainheading h1{
    font-size: 96px;
}
 body h2{
    font-size: 64px;
}
p{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
.mainheading{
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}
.mainheading p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;

}
.mainheading h2{
    font-family: var(--heading-font-family);
    font-weight: 50px;
    line-height: 2;
    font-size: 24px;

}
.btn.btn-contact{
 background: #6C63FF;
 border-radius: 5px;  
 color: white; 
 font-size: 18px;
 line-height: 27px;
 padding: 12px 20px;
}
.btn.btn-yogurt-outline{
border-radius: 5px;
font-size: 18px;
 line-height: 27px;
 padding: 12px 20px; 
 color: var(--branding-color); 
 border: 2px solid var(--branding-color); 
}

.yogurt-discription{
    padding: 120px 60px;

}

.logo{
    max-width: 150px;
}
nav{
    padding: 20px 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 10px;

}
nav ul{
    padding: 0;
    margin: 0;

}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
    
}
nav li.active a
 {
    color: var(--branding-color);
}
nav a:hover{
    color: var(--branding-color);
}


@media (max-width: 900px){


    .mainheading h1{
        font-size: 60px;
    }
     body h2{
        font-size: 44px;
    }

    .yogurt-discription{
        padding: 0;
        text-align: center;
    }
    .content{
        text-align: center;
        padding: 0;
    }
   nav a{
    font-size: 14px;
    
   }
   .logo{
    max-width: 80px;
   }
  
    
}

.content-container{
    padding: 160px 20px;
}

.content-container h2{
    font-size: 64px;
    line-height: 80px;

}
.content-container h1{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.contant h3{
    font-size: 24px;
    font-family: var(--default-font-family);
    
}


.contant{
    margin: 30px;
}


