:root{
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;

}

body{
    font-family: var(--default-font-family);
}



h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
 .mainheading h1{
    font-size: 96px;
}
 body h2{
    font-size: 64px;
}
 .contact-box h4{
    font-size: 48px;
    font-weight: bold;
}

p{
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}
.mainheading{
    background: var(--secondary-color);
    text-align: center;
    padding: 70px 20px;
}
.mainheading p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;

}
.mainheading h2{
    font-family: var(--heading-font-family);
    font-weight: 50px;
    line-height: 2;
    font-size: 24px;

}
.btn.btn-contact{
 background: #6C63FF;
 border-radius: 5px;  
 color: white; 
 font-size: 18px;
 line-height: 27px;
 padding: 12px 20px;
}
.btn.btn-yogurt-outline{
border-radius: 5px;
font-size: 18px;
 line-height: 27px;
 padding: 12px 20px; 
 color: var(--branding-color); 
 border: 2px solid var(--branding-color); 
}

.yogurt-discription{
    padding: 120px 60px;

}

.logo{
    max-width: 150px;
}
nav{
    padding: 20px 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 10px;

}
nav ul{
    padding: 0;
    margin: 0;

}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
    
}
nav .active a 
{
    color: var(--branding-color);
    
}

nav a:hover
 {
    color: var(--branding-color);
}
nav a{
    font-weight: bold;
}

footer .contact-box{
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 20px;
    margin-right: 90px;
    margin-left: 90px;
}

 footer .btn-branding {
  background-color: var(--branding-color);
  color: white;
  border: none;
  transition: all 100ms ease-in-out;
  padding: 120px;

}

.btn-branding:hover {
  background-color: #084298;
  color: white;
}
 
.btn-branding {
  display: inline-block;
  background-color: var(--branding-color);
  color: white;
  border: none;
  transition: all 100ms ease-in-out;
  padding: 120px;
  text-decoration: none;
  border-radius: 10px;
}



footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: var(--default-font-family);

}
footer .email-link:hover{
   color: var(--branding-color); 
}
footer{
    margin: 60px 0;
}
footer .contact-box p{
    margin: 0;
}

footer .social-links a{
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    color: white;
    background-color: var(--branding-color);

}



@media (max-width: 900px){


    .mainheading h1{
        font-size: 60px;
    }
     body h2{
        font-size: 44px;
    }

    .yogurt-discription{
        padding: 0;
        text-align: center;
    }
    .content{
        text-align: center;
        padding: 0;
    }
   nav a{
    font-size: 14px;
    
   }
   .logo{
    max-width: 80px;
   }
 footer .contact-box h4{
    font-size: 28px;
   }
   footer .contact-box{
    padding: 30px;
   }
  
  
    
}

.content-container{
    padding: 70px 20px;
}

.content-container h2{
    font-size: 64px;
    line-height: 80px;

}
.content-container h1{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.contant h3{
    font-size: 24px;
    font-family: var(--default-font-family);
    
}


.contant{
    margin: 30px;
}


